body {
    padding: 0;
    margin: 0;
}

.banner {

    background-image:
        linear-gradient(#e1e0e677, #503dada6),
        url("../IMG/home_banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    height: 45vh;

}

.banner h1 {
    margin: 0;
    color: white;
    font-size: 5rem;
}

.menu {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;


}

.menu div {
    margin: 10vh 0;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    border-radius: 30px;
    display: flex;
    width: 18vw;
    height: 35vh;
    transition: 0.5s;
}

.menu div:hover {
    transform: scale(1.02);
}

.menu a {
    color: white;
    text-decoration: none;
}

/*Cores específicas de cada botão*/

.anotacoes {
    background-color: #5998e0;
}

.anotacoes:hover {
    background-color: #3d75b4;
}

.agenda {
    background-color: #62bb58;
}

.agenda:hover {
    background-color: #4d9246;
}

.horario {
    background-color: #6663cc;
}

.horario:hover {
    background-color: #514eaa;
}